<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'apply.css' %}">
    <title>원동력</title>
</head>

<body>
    <div class="header">
        <div class="header-text">
            <div id="left-space"></div>
            <div id="center-text">
                <div id="little-text">원하는 동아리 역으로</div>
                <p>원동력</p>   
            </div>
            <div class="header-bar">
                <ul class="header-bar-right">
                    <li>{{ request.session.nickName }}님</li>
                    <li>
                        <p><a href="{% url 'mypage' %}" style="text-decoration: none; color: white;">마이페이지</a></p>
                    </li>
                    <li>
                        <p><a href="{% url 'login' %}" style="text-decoration: none; color: white;">로그아웃</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div id="nav-bar">
            <ul class="nav-bar-l">
                <li><a href="{% url 'main_yes' %}" style="text-decoration: none; color: white;">홈</a></li>   <!-- 가입된 동아리 있으면 yes로 없으면 no로  -->
                <div class="nav-bar-line"></div>
                <li><a href="#" style="text-decoration: none; color: white;">동아리</a></li>
                <div class="nav-bar-line"></div>
                <li><a href="{% url 'community' %}" style="text-decoration: none; color: white;">커뮤니티</a></li>
                <div class="nav-bar-line"></div>
                <li><a href="{% url 'info' %}" style="text-decoration: none; color: white;">홍보</a></li>
                <div class="nav-bar-line"></div>
                <li><a href="{% url 'mypage' %}" style="text-decoration: none; color: white;">나의 동아리</a></li>
            </ul>
            <ul class="nav-bar-r">
                <li>
                    <div id="search-bar">
                        <input id="input" placeholder="어떤 동아리를 찾으시나요?">
                        <div class="search-btn">
                            <img src="{% static 'search.png' %}" alt="" width="18px" height="18px">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div id="main-left-box">
            <div id="user-box">
                <div id="user-box-up">
                    <div id="user-pic">
                        <img src="{% static 'user_pic.png' %}" alt="">
                    </div>
                    <div id="user-name-text">
                        <p>{{ request.session.nickName }}님</p>
                    </div>
                </div>
                <div id="user-box-dn">
                    <div class="user-box-dn-btn">
                        <p><a href="{% url 'mypage' %}" style="text-decoration: none; color: white;">마이페이지</a></p>
                    </div>
                    <div class="user-box-dn-btn">
                        <p><a href="{% url 'login' %}" style="text-decoration: none; color: white;">로그아웃</a></p>
                    </div>
                </div>
            </div>
            <div id="my-group">
                <p>나의 동아리</p>
                <ul>
                    <li>동아리 1</li>
                    <li>동아리 2</li>
                    <li>동아리 3</li>
                    <p>더보기</p>
                </ul>
            </div>
        </div>
        <div id="main-center-box">
            <div id="b-brd">
                <div id="b-brd-name">
                    <div id="b-brd-img"></div>
                    <div id="b-brd-r">
                        <ul>
                            <li>{{post.view}}</li>
                            <li>{{post.circleID}}</li>
                            <li>{{post.keyword}}</li>
                        </ul>
                    </div>
                </div>
                <div id="b-brd-scd">
                    <div>모집 기간</div>
                    <div>D-DAY</div>
                    <div>{{post.recruitStartDate}} ~ {{post.recruitEndDate}}</div>
                    <div>모집 인원</div>
                    <div>{{post.howManyMember}}명</div>
                    <div></div>
                </div>
                <div id="b-brd-apply">
                    <p>지원양식</p>
                    {% for question in questionlist %}
                    <div class="b-brd-quest">
                        <p>{{ question.question }}</p>
                        <textarea id="b-brd-txta" cols="30" rows="10" placeholder="이 곳에 입력해주세요."></textarea>
                    </div>
                    {% endfor %}
                </div>
                <div id="brd-btn">
                    <button class="brd-submit">지원 하기</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>