@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
/* header header-bar big-text  nav-bar */
body {
    font-family : 'NanumSquare',san-serif;
    margin: 0;
    padding: 0;

    min-width: 1400px;
}

.header {
    background-color: #DCEDC1;
    width: 100%;
    height: 120px;
}

.header-text {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#little-text {
    display: inline-block;
    font-size: 18pt;
    font-weight: bolder;
}

.header-text p{
    display: inline-block;
    margin: 0 0 0 5px;

    font-size: 30pt;
    font-weight: bolder;

}

#left-space {
    width: 20%;
}

#center-text{
    margin-top: 10px;
    display: inline-block;
}

.header-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none;
}

.header-bar-right {
    display: flex;
    margin: 0;
    list-style: none;
}

.header-bar-right li {
    margin-right: 15px;
}

.header-bar-right li p {
    cursor: pointer;
    background-color: #8AAE92;
    color: white;
    font-size: 10pt;
    padding: 3px 5px;
    border: 1px solid #7D7D7D;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: #8AAE92;

    margin: 12px 5px 5px 12px;
    padding: 0;
    height: 47px;
}

.nav-bar-l {
    margin: 0;
    display: flex;
    
    color: white;
    list-style: none;

    font-size: 18pt;
}

.nav-bar-l li {
    margin: 10px 60px;
}

.nav-bar-r {
    margin-bottom: 20px;
    margin-right: 20px;
}
.nav-bar-r li {
    list-style: none;
}
.nav-bar-line {
    margin-top: 8px;
    width: 4px;
    height: 30px;
    background-color: #679186;
}

#search-bar {
    display: flex;
    width: 215px;
    height: 22px;

    border-radius: 50px;
    background-color: white;
}

#input {
    border: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 10pt;
}

#input:focus {
    outline: none;
}

.search-btn img{
    margin-top: 2px;
    margin-left: -20px;
}

#main {
    display: flex;

    background-color: #F4F9F4;
    width: 100%;
    height: 100vh;
}

#main-left-box {
    width: 20%;
    margin: 3rem;
}

#user-box {
    width: 310px;
    height: 200px;
    

    background-color: #F9F8EB;
    border: #DCEDC1 3px solid;
}

#user-box-up {
    display: flex;

    height: 110px;
}

#user-pic {
    margin: 1rem 2rem;
    width: 120px;
    height: 100px;

    /* border: 1px solid black; */
}

#user-pic img {
    justify-content: center;
    align-items: center;
}

#user-name-text {
    width: 100%;
    align-self: flex-end;
    text-align: end;
    font-size: 30pt;
}

#user-name-text p {
    margin: 0 20px 0 0;
}

#user-box-dn {
    display: flex;
    justify-content: space-around;
    font-size: 16pt;
}

.user-box-dn-btn {
    width: 120px;
    height: 30px;
    

    text-align: center;
    border: 1px solid #7D7D7D;
    background-color: #8AAE92;
    color: white;
    margin: 2rem 1rem;
}

.user-box-dn-btn:first-child {
    margin-left: 2rem;
}

.user-box-dn-btn:first-child {
    margin-left: 2rem;
}

.user-box-dn-btn p {
    margin: 3px 0 0 0;
}

#my-group {
    width: 310px;
    height: 202px;

    margin-top: 2rem;
    background-color: #DCEDC1;
    border: 2px solid #8AAE92;
}

#my-group ul {
    list-style: none;
    padding: 0;
    margin: 0 8px;

    background-color: #F9F8EB;
}

#my-group p {
    font-size: 26pt;
    margin: 10px 10px -10px;

    color: #536F59;
    text-align: start;
}

#my-group ul li{
    font-size: 22pt;
    margin: 10px 10px 0 10px;
    
    border-bottom: 1px solid #8AAE92;
    color: #616161;
}

#my-group ul li:first-child{
    padding-top: 10px;
}

#my-group ul p{
    margin: 0;
    padding: 0;
    font-size: 11pt;

    text-align: right;
}

#myMenu {
    width: 310px;
    height: 390px;
    margin-top: 2rem;
    background-color: #F9F8EB;
    border: 2px solid #8AAE92;
  }
  
  #myHeader {
    font-size: 26pt;
    margin: 10px 10px -10px;
    color: #536F59;
  }

#menu1 {
    display: block;
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
  }

#menu2 {
    display: block;
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
  }

.menu_line::before {
    content: "";
    display: inline-block;
    background-color: black;
    width: 25px;
    height: 1px;
    margin: 0 20px 10px 20px;
  }
  
.menu_line::after {
    content: "";
    display: inline-block;
    background-color: black;
    width: 25px;
    height: 1px;
    margin: 0 20px 10px 20px;
  }
  
  #myMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 8px;
    background-color: #F9F8EB;
  }
  
  #myMenu ul a li{
    font-size: 18pt;
    margin: 10px 30px 15px 30px;
    text-align: center;
    border-bottom: 1px solid #8AAE92;
    color: #616161;
  }
  
  #myMenu ul a li:first-child{
    padding-top: 10px;
  }
  
  #myMenu a {
      text-decoration: none;
  }

  #main-center-box {
    background-color: #F9F8EB;
    border: #DCEDC1 3px solid;
    margin-top: 48px;
    margin-left: -10px;
    width: 90%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 100%;
    height: 100%;
    border-style: none;
  }