<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원동력</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="동아리 이름" name="name" />
        <input type="text" placeholder="동아리 소개" name="Introduction" />
        <input type="text" placeholder="동아리 키워드" name="topic" />
        <input type="submit" value="개설하기" />
    </form>
</body>
</html>