<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mychat.css' %}">
    <title>원동력</title>
</head>
<body>
    <div id="title">
        <h1>동아리 채널</h1>
    </div>
    <div id="container">
        <div class="list">
            <div class="groupName">해커톤 준비로 바쁜 요즘
                모두 잘 지내고 계신가요?
                AWS에서 8월 말 진행하는 웨비나
                '대학생들을 대상으로 하는 Cloud4Career'
                세션을 9기 여러분께 공유드립니다:aws:
                클라우드와 머신러닝에 대한 기초 세션
                하반기에 진행될 AWS 인턴십 소개
                카카오 직원분께서 들려주는 카카오 크루 이야기
                클라우드 기초 자격증 준비를 가이드
                본 온라인 세미나 포스터를 함께 공유드리니
                관심을 가지고 참여해주시면 좋겠습니다!
            </div>
        </div>
        
        <div class="list">
            <div class="groupName">멋사 2팀</div>
        </div>

        <div class="list">
            <div class="groupName">세상에서 가장은 아니지만 어쨋든 이름이 몹시 길었으면하는 동아리입니다.</div>
        </div>
        <div></div>
    </div>
</body>
</html>